[Unit]
Description=Mailbox synchronization service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/offlineimap -o

[Install]
WantedBy=default.target
