[user]
	name = Conner McDaniel
	email = connermcd@gmail.com
[push]
	default = tracking
[mergetool]
	keepBackup = false
[merge]
	tool = fugitive
[color]
	ui = true
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[github]
	user = connermcd
