*log*
.VirtualBox/
.Xauthority
.adobe/
.ardour2/
.asoundrc
.bash_history
.bash_logout
.bash_profile
.bin/
.cache/
.config/
.dbus/
.dropbox/
.dvdcss/
.emerald/
.esd_auth
.fehbg
.filezilla/
.galculator
.gcalcli_cals
.gcalcli_oauth
.gconf/
.gem/
.gimp-2.8/
.gnupg/
.goobook_cache
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.hplip/
.irssi/scripts/autorun/
.jackdrc
.lesshst
.lmmsrc.xml
.local/
.lyrics/
.macromedia/
.mail/
.mozilla/
.mpd/
.mplayer/
.mu/
.netflix-desktop/
.offlineimap/
.openshot/
.pki/
.pry_history
.recently-used
.sane/
.sqlite_history
.ssh/
.statusline.sh
.swfinfo
.sword/
.texlive/
.themes/
.thumbnails/
.todo
.vim-fuf-data/
.vim/tmp/
.vimgolf/
.viminfo
.wicd/
.xbmc/
.xournal/
Dropbox/
Music/
