[user]
	name = Conner McDaniel
	email = connermcd@gmail.com
[github]
	user = connermcd
[push]
	default = tracking
[merge]
	tool = fugitive
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
	keepBackup = false
[color]
	ui = auto
[alias]
	st = status -sb
	ci = commit
	co = checkout
	cb = checkout -b
	di = diff
	dc = diff --cached
	aa = add --all
	ff = merge --ff-only
	pullff = pull --ff-only
	noff = merge --no-ff
	pom = push origin master
	b = branch
	ds = diff --stat=160,120
	dh1 = diff HEAD~1
	l = log --simplify-merges --graph --pretty="tformat:%C(yellow)%h%Creset\\ %Cgreen(%ar)%Creset\\ %C(blue)<%an>%Creset\\ %C(red)%d%Creset\\ %s"
