*
!.irssi/
!.mutt/
!.vim/
!.Xmodmap
!.Xresources
!.abcde.conf
!.bashrc
!.conkyrc
!.ghc/ghci.conf
!.gitconfig
!.gitignore
!.gitmodules
!.tmux.conf
!.vimpcrc
!.vimrc
!.xbindkeysrc
!.xinitrc
!.xmobarrc
!.xmonad/xmonad.hs
!.zathurarc
