# Global snippets
snippet n
	${1}
	Instructor: ${2}
	Pages: ${3}
# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%m-%d-%y")`
snippet time
	`strftime("%I:%M %p")`
snippet datetime
	`strftime("%m-%d-%y %I:%M %p")`
snippet day
	`strftime("%a %m-%d %I:%M %p")`
snippet bdate
	date: '`strftime("%Y-%m-%d %H:%M:%S")`'
